@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap');

body{

    font-family: 'Heebo', sans-serif;
    margin: 0;
}

:root{

    --primary-color: #FB7185;
    --or-rose: #FFE4E6;
}
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    margin-right: .5rem;
    
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}
.navigation .name{
    display: inline;
    font-weight: bold;
    font-size: 1.2rem;

}

.navigation .link{
    color: white;
    border: 2px solid white;
    border-radius: .5rem;
}

.navigation .nav-pills{
    text-align: right;  
    
}
.link{
    text-decoration: none;
    padding: .3rem;
    
}

.header-hero {
    padding: 5rem;
}


.header-hero .headerpic{
        max-width: 350px;
        width:99%;
        display: block;
        margin: auto;
}

.header-heading{
    padding-top: 1rem;
     text-align: center;
}

.header-hero .header-heading .header-invert{
    color: var(--primary-color);
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.footer ul{
    padding-inline-start: 0px;
}

.section{
    padding: 5rem;
    display: block;
    box-sizing: border-box;
}

.container .link{
    background-color: var(--primary-color);
    color: white;
    padding: .5rem;
    border-radius: .5rem;
}

.container .project1{
    margin-top: 2rem;
}

.or {
    background-color: var(--or-rose);
}

.container{
padding-left: 1rem;
padding-right: 1rem;
max-width: 600px;
margin: 0 auto;

}

.section .container-p{
    text-align: center;
}

.footer .footericon{
    max-width: 30px;
}

.container p{
    color: #777;
}
small {
    color: #555;
}

.navigation .active{
    background-color: white;
    color: var(--primary-color);
}